* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:13px;
  font-style: normal;
}
.link:hover{
  font-weight: bolder;
  cursor:"pointer";
}
*:focus {
  outline: none;
}
.card{
  margin:"10%";
}


